
server/source/*/bin/
server/source/*/obj/
server/source/packages/
server/source/vs
server/source/*.suo
server/source/buildreports/
client/node_modules/
server/source/test-results.xml
*.user
server/source/bin/
nunit-result.xml
*.swp
server/source/coverage
buildreports
server/source/.vs/config/applicationhost.config
server/source/OpenCover/
mobile/node_modules/

client/package-lock.json
client/package.json

server/source/.vs/*
server/source/.vs/RentalPortal/v16/

*.v2
